# version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: airflow_postgres
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow"]
      interval: 5s
      retries: 5

  mongo:
    image: mongo:6.0
    container_name: mongo_weather
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - ./mongo_data:/data/db

  webserver:
    build: .
    container_name: airflow_webserver
    restart: always
    depends_on:
      - postgres
      - mongo
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
      - AIRFLOW__CORE__FERNET_KEY=${FERNET_KEY}
      - AIRFLOW__WEBSERVER__SECRET_KEY=Secret123
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - PYTHONPATH=/opt/airflow
    volumes:
      - ./dags:/opt/airflow/dags
      - ./api_ingestion:/opt/airflow/api_ingestion
      - ./data_transform:/opt/airflow/data_transform
      - ./data_to_train:/opt/airflow/data_to_train
      - ./config.env:/opt/airflow/config.env
    ports:
      - "8080:8080"
    command: bash -c "airflow db init && \
                      airflow users create --username admin --firstname admin --lastname admin \
                      --role Admin --email admin@example.com --password admin && \
                      airflow webserver"

  scheduler:
    build: .
    container_name: airflow_scheduler
    restart: always
    depends_on:
      - webserver
      - postgres
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
      - PYTHONPATH=/opt/airflow
    volumes:
      - ./dags:/opt/airflow/dags
      - ./api_ingestion:/opt/airflow/api_ingestion
      - ./data_transform:/opt/airflow/data_transform
      - ./data_to_train:/opt/airflow/data_to_train
      - ./config.env:/opt/airflow/config.env
    command: bash -c "airflow db upgrade && airflow scheduler"
